body {
    width: 900px;
    /* padding: 5px; */
    /* margin-block: 0 auto; */
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: auto;
    margin-left: auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
  }
  
  .logo {
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }

  .pd-5 {
    padding: 5px;
  }

  .profile-ctr {
    align-content: center;
    align-items: center;
  }

  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons a {
    margin: 0 10px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
  }
  
  